@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
body{
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F5F5FD;
    width: 80vw;
}

body h1,h2{
    font-weight: normal;
}

nav a:hover{
    color: lightgray;
}


nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 2em;

}

section a{
    color: black;
    text-decoration: none;
}

.baseContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: 'ABeeZee', sans-serif;
}

nav{
    background-color: #FF8C42;
    width: 20vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid gray;
}

nav > img{
    width: 80%;
    margin: 2em auto;
}

li i {
    font-size: 1em;
}

.button{
    text-align: center;
    letter-spacing: 0.7px;
    padding: 0.2em;
    width: 90%
}

ul {
    list-style-type: none;
    letter-spacing: 0.7px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li{
    font-size: 20px;
    text-align: left;
    margin-bottom: 1em;
}

li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}



header{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}

.events{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.event-title{
    text-align: center;
}
.event-img{
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.event-pic{
    height: 80%;
    width: 100%;
}

.event-details{
    padding: 1em;
}

form .button{

    margin-top: 1em;
    text-align: center;
    margin-bottom: 8px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border: black solid 1px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}



