@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


body{
    margin: 0;

}


.container{
    width: 100vw;
    height: 100vh;
    background: #F5F5FD;
    font-family: 'ABeeZee', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: url("../../public/img/logo.svg"), lightgray 50% / cover no-repeat;*/

}

.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1em;

}

input, a, button{
    margin-bottom: 10px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border: unset;
    border-radius: 4px;
    outline-color: #FF8C42;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"], a , button{
    background-color: #FF8C42;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    color: #fff;
    cursor: pointer;
}

.login-container h1{
    color: #464E73;
    font-size: 60px;
}

.login-container h2{
    color: #464E73;
    margin-top: 3em;
    text-align: center;
    font-size: 24px;
}


a{
    text-decoration: none;
    text-align: center;
}