@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


body{
    margin: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    background: #F5F5FD;
    font-family: 'ABeeZee', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1em;

}

form > input {
    border:none;
    margin-bottom: 12px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border-radius: 4px;
    outline-color: #FF8C42;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}



.login-container h1{
    color: #464E73;
    font-size: 60px;
}

.login-container h2{
    color: #464E73;
    margin-top: 2em;
    text-align: center;
    font-size: 24px;
}

.register-button, .login-button{
    text-align: center;
    margin-bottom: 8px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border: unset;
    border-radius: 4px;
    background-color: #FF8C42;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 10px -1px rgba(71, 71, 71, 1);
    color: #fff;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.no-valid {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 1);
    outline: none;
}