<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" type="text/css" href="../../public/css/login.css";>
    <meta charset="utf-8">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">

        <div class="login-container">
            <h1>Zaloguj się</h1>
            <form class="login">
                <input name="email" type="text" placeholder="adres email">
                <input name="password" type="text" placeholder="hasło">
                <button class="loginButton">ZALOGUJ SIĘ</button>

            </form>
        </div>

      <div class="logo">
        <img src="../../public/img/logo.svg" alt="rysunek logo prezentujacy kota w czapce wiedzmy z podpisem konwentOwO">
      </div>

    </div>


</body>
</html>